:root {
  --collection-1-numbers-16: 16px;
  --collection-1-numbers-24: 24px;
  --collection-1-colors-neutral-grey-50: rgba(249, 249, 251, 1);
  --collection-1-colors-base-white: rgba(255, 255, 255, 1);
}
